@import url("../src/css/reset.css");
@import url("../src/css/variables.css");
@import url("../src/css/nav.css");
@import url("../src/css/container.css");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
}

h1 {
  font-size: var(--text-size-h1);
  margin: 0;
}
h2 {
  font-size: var(--text-size-h2);
  margin: 0;
}